# 忽略应用所有文件
*

# 但不忽略本文件
!.gitignore

# 但不忽略项目说明文档
!README.md

# 但不忽略本地化参考文档
!/SDK/
!/SDK/Doc/
!/SDK/Doc/Localization reference.md

# 但不忽略中文语言包
!/Localization/
!/Localization/CHN/
!/Localization/CHN/**
